body {
  color: white;
  font-weight: bold;
  font-size: 12px;
}
table {
  border-collapse: collapse;
}
.QualificationTextBox {
  width: 120px;
}
.CenteredCell {
  text-align: center;
}
#OuterTable {
  margin-left: 30px;
}
#innerTable {
  border: 1px solid black;
}
#main {
  width: 650px;
  height: 700px;
  border: 1px solid black;
  background-color: #6b5acd;
  margin: 0 auto;
}
#topHeading {
  text-align: center;
  padding: 15px;
  background-color: white;
  color: #6b5acd;
  font-size: 36px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
#countryEmptyOption {
  font-weight: bold;
  text-align: center;
}
